# OS files
.DS_Store
Thumbs.db

# Visual Studio Code
.vscode/

# Build and dependency folders
node_modules/
build/
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python
__pycache__/
*.py[cod]

# Backup files
*~
*.swp
*.swo
