PySide6>=6.7
pyqtgraph>=0.13
numpy>=2.0
pandas>=2.2
PyYAML>=6.0
runs==1.2.2
scipy==1.14.1
shiboken6==6.11.1
six==1.16.0
stack-data==0.6.3
tifffile==2025.3.30
tqdm==4.67.1
traitlets==5.14.3
typing_extensions==4.14.1
tzdata==2024.2
wcwidth==0.2.13
xmod==1.8.1
